@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;600;700&family=Playfair+Display:ital,wght@0,500;0,700;0,900;1,800;1,900&family=Ranchers&family=Roboto+Mono:wght@500&display=swap');
/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Ranchers', cursive;
font-family: 'Roboto Mono', monospace; 
--wheat: #fbe1b7ff
--black: #000000ff
--united-nations-blue: #5a8ce3ff
--medium-aquamarine: #3ddc97ff
--fire-opal: #e3655bff
*/

/* From uiverse.io by @Sujitkavaiya */
.card {
    grid-area: container;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 190px;
    height: 254px;
    margin: 30px;
    padding: 10px;
    background: white;
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: #3ddc97ff 0.2em solid;
}
.card p{
    font-size: small;
}

.card:hover {
    border: #006fff 0.2em solid;
}