@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;600;700&family=Playfair+Display:ital,wght@0,500;0,700;0,900;1,800;1,900&family=Ranchers&family=Roboto+Mono:wght@500&display=swap');
/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Ranchers', cursive;
font-family: 'Roboto Mono', monospace; 
--wheat: #fbe1b7ff
--black: #000000ff
--united-nations-blue: #5a8ce3ff
--medium-aquamarine: #3ddc97ff
--fire-opal: #e3655bff
*/

.nav {
    grid-area: nav;
    color: #fff;
    background-color: #fbe1b7ff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 10vh;
    z-index: 1;
    position: fixed;
}

.logo {
    width: 80px;
    height: 60px;
    padding: 10px;
    border-radius: 30px;
}


.logoAndTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    color: black;
}

.logoAndTitle h1{
    font-family: 'Playfair Display', serif;
    padding: 0px;
    margin: 0px;
}

.logoAndTitle p{
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}



.TitleAndSearchBar {
    margin-left: 10%;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.aboutNavButton {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 20%;
}
.aboutText {
	color: #e3655bff;
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
    font-weight: 400;
}

.input {
    height: 40px;
	width: 250px;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: #fbe1b7ff;
    border: 1px solid #FBE1B7;
  	box-shadow: 6px 6px 12px #b4a48c,-6px -6px 12px #fee2b6;
	font-family: 'Roboto Mono', monospace; 
    font-size: 15px;
    font-weight: 400;
    max-width: 350px;
}
.input::placeholder {
	color: rgb(160, 160, 160);
}
.input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 50px;
}
.list a{
    font-family: 'Roboto Mono', monospace; 
    color: #e3655bff;
    text-decoration: none;
}

.cartYBusc{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}