@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;600;700&family=Playfair+Display:ital,wght@0,500;0,700;0,900;1,800;1,900&family=Ranchers&family=Roboto+Mono:wght@500&display=swap');
/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Ranchers', cursive;
font-family: 'Roboto Mono', monospace; 
--wheat: #fbe1b7ff
--black: #000000ff
--united-nations-blue: #5a8ce3ff
--medium-aquamarine: #3ddc97ff
--fire-opal: #e3655bff
*/



.bolsa{
    max-width: 100px;
}

.infoStock{
    margin: 0px;
    font-size: 9px;
    font-family: 'Open Sans', sans-serif;
}

.botonera{
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-around;
    align-items: center;
}

.botonera p{
    margin: 0px;
    font-size: medium;
    font-family: 'Open Sans', sans-serif;
}

.botonCount {
    color: #090909;
    padding: 0px 10px;
    height: 30px;
    width: 30px;
    font-size: 18px;
    border-radius: 0.5em;
    background: #fbe1b7ff;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #fee2b6;
}

.botonCount:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #fee2b6;
}